.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.panelPaper {
    padding: 35px 20px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2px;
    width: 100%;
}

.todoItemPaper {
    padding: 20px 20px;
    margin-top: 15px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2px;
    width: 100%;
}